# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
  - repo: https://github.com/FeryET/pre-commit-rust
    rev: v1.2.1
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
  - repo: https://github.com/bnjbvr/cargo-machete
    rev: v0.9.1
    hooks:
      - id: cargo-machete
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.18.5
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: npm-lint
        name: eslint
        entry: npm
        args: [ 'run', '-w', 'frontend', 'lint', '--prefix', 'vacs-client' ]
        language: system
        files: '^vacs-client/frontend/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false
      - id: npm-typecheck
        name: TypeScript type check
        entry: npm
        args: [ 'run', '-w', 'frontend', 'typecheck', '--prefix', 'vacs-client' ]
        language: system
        files: '^vacs-client/frontend/.*\.(ts|tsx)$'
        pass_filenames: false
