[package]
name = "vvcs"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
cpal = "0.15.3"
opus = "0.3.0"
webrtc = "0.13.0"
tokio = { version = "1.0.0", features = ["rt", "rt-multi-thread", "macros"] }
bytes = "1.10.1"
serde_json = "1.0.140"
base64 = "0.22.1"
hound = "3.5.1"
