[workspace]
resolver = "3"
members = [
    "vacs-audio",
    "vacs-client",
    "vacs-protocol",
    "vacs-server",
    "vacs-signaling",
    "vacs-vatsim",
    "vacs-webrtc"
]

[workspace.package]
version = "0.0.0"
edition = "2024"
publish = false

[workspace.dependencies]
anyhow = "1.0.98"
async-trait = "0.1.88"
axum = "0.8.4"
base64 = "0.22.1"
bytes = "1.10.1"
clap = "4.5.40"
config = "0.15.11"
cpal = "0.16.0"
csv = "1.3.1"
directories = "6.0.0"
futures-util = "0.3.31"
opus = "0.3.0"
pretty_assertions = "1.4.1"
reqwest = "0.12.20"
ringbuf = "0.4.8"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
test-log = { version = "0.2.17", features = ["trace"] }
thiserror = "2.0.12"
tokio = { version = "1.45.1", features = ["rt", "rt-multi-thread", "macros", "signal"] }
tokio-tungstenite = { version = "0.27.0", features = ["native-tls"] }
tower-http = "0.6.6"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
tracing = "0.1.41"
tungstenite = "0.27.0"
vacs-audio = { path = "vacs-audio" }
vacs-protocol = { path = "vacs-protocol" }
vacs-server = { path = "vacs-server" }
vacs-signaling = { path = "vacs-signaling" }
vacs-webrtc = { path = "vacs-webrtc" }
webrtc = "0.13.0"
wiremock = "0.6.3"

[workspace.lints]
