[workspace]
resolver = "3"
members = [
    "vacs-audio",
    "vacs-client",
    "vacs-protocol",
    "vacs-server",
    "vacs-signaling",
    "vacs-vatsim",
    "vacs-webrtc"
]

[workspace.package]
version = "0.0.0"
edition = "2024"
publish = false

[workspace.dependencies]
anyhow = "1.0.98"
async-trait = "0.1.88"
axum = "0.8.4"
axum-login = "0.18.0"
base64 = "0.22.1"
bytes = "1.10.1"
clap = "4.5.41"
config = "0.15.13"
cpal = "0.16.0"
csv = "1.3.1"
dashmap = "6.1.0"
directories = "6.0.0"
futures-util = "0.3.31"
oauth2 = { version = "5.0.0", features = ["reqwest"] }
opus = "0.3.0"
pretty_assertions = "1.4.1"
reqwest = "0.12.22"
ringbuf = "0.4.8"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.141"
tauri = "2.6.2"
tauri-build = "2.3.0"
tauri-plugin-deep-link = "2.4.0"
tauri-plugin-opener = "2.4.0"
tauri-plugin-single-instance = { git = "https://github.com/MorpheusXAUT/plugins-workspace.git", branch = "single-instance-zbus-linux" }
test-log = { version = "0.2.18", features = ["trace"] }
thiserror = "2.0.12"
tokio = { version = "1.46.1", features = ["rt", "rt-multi-thread", "macros", "signal"] }
tokio-tungstenite = { version = "0.27.0", features = ["native-tls"] }
tower-http = "0.6.6"
tower-sessions = { version = "0.14.0", features = ["signed"] }
tower-sessions-redis-store = "0.16.0"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
tracing = "0.1.41"
tungstenite = "0.27.0"
url = "2.5.4"
uuid = "1.17.0"
vacs-audio = { path = "vacs-audio" }
vacs-protocol = { path = "vacs-protocol" }
vacs-server = { path = "vacs-server" }
vacs-signaling = { path = "vacs-signaling" }
vacs-vatsim = { path = "vacs-vatsim" }
vacs-webrtc = { path = "vacs-webrtc" }
webrtc = "0.13.0"
wiremock = "0.6.4"

[workspace.lints]
