[workspace]
resolver = "3"
members = ["vacs-client", "vacs-core", "vacs-server", "vacs-shared"]

[workspace.package]
version = "0.0.0"
edition = "2024"
publish = false

[workspace.dependencies]
serde = { version = "1.0.219", features = ["derive"] }
tokio = { version = "1.45.1", features = ["rt", "rt-multi-thread", "macros", "signal"] }
log = { version = "0.4.27", features = ["serde"] }
anyhow = "1.0.98"
tokio-tungstenite = "0.26.2"
config = "0.15.11"
directories = "6.0.0"
pretty_assertions = "1.4.1"
test-log = { version = "0.2.17", features = ["trace"] }

[workspace.lints]
