.info-grid-cell {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

/* Remove right border from last column cells */
.info-grid-cell:nth-child(3n) {
    border-right: none;
}

/* Remove bottom border from last row cells */
.info-grid-cell:nth-last-child(-n + 3) {
    border-bottom: none;
}