@import "tailwindcss";

@font-face {
    font-display: swap;
    font-family: "Noto Sans Mono";
    font-style: normal;
    font-weight: auto;
    src: url("../assets/fonts/NotoSansMono-VariableFont_wdth,wght.ttf") format("truetype");
}

body {
    @apply bg-gray-500 select-none overscroll-none;
    font-family: "Noto Sans Mono", monospace;
    font-synthesis: none;
}

@supports (font: -apple-system-body) {
    select {
        @apply h-8;
    }
}

.linux select {
    @apply h-8;
    padding: 0 0.375rem;
}

.text-initial {
    color: initial;
}

.scrollbar-hide {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
