<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>This app requires access to your microphone to capture your voice during calls.</string>
  <key>NSInputMonitoringUsageDescription</key>
  <string>This app requires access to monitor keyboard input to capture your keybinds.</string>
  <key>NSAccessibilityUsageDescription</key>
  <string>This app requires accessibility access to simulate keyboard events when using the radio integration.</string>
</dict>
</plist>